<div class="table-container">
    <div id="table-wrapper">
        <div class="d-flex justify-content-between align-items-center p-3 bg-black pe-3 border-bottom ps-3">
            <div class="d-flex align-items-center w-100">
                <select class="form-select form-select-sm me-4 w-auto" aria-label=".form-select-sm example"
                    [(ngModel)]="filterByOptions" name="border">
                    <option value="">Filter by none</option>
                    <option value="userName">Username</option>
                    <option value="location">Location</option>
                    <option value="designation">Designation</option>
                    <option value="email">Email</option>
                    <option value="location&Designation">Location and Designation</option>
                </select>
                <div *ngIf="filterByOptions !== 'location&Designation'; else locationDesignation">
                    <input type="text" class="form-control form-select-sm" [(ngModel)]="searchInput" placeholder="Search By {{filterByOptions}}"/>
                </div>
                <ng-template #locationDesignation>
                    <input type="text" class="form-control form-select-sm me-4 w-auto" [(ngModel)]="filterByLocation" placeholder="Search By Location"/>
                    <input type="text" class="form-control form-select-sm w-auto" [(ngModel)]="filterByDesignation" placeholder="Search By Designation"/>
                </ng-template>
            </div>
        </div>
        <table id="user-table" class="table table-striped m-0">
            <thead>
                <th>User Name</th>
                <th>Email</th>
                <th>Designation</th>
                <th>Location</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr *ngFor="let user of userData | tableFilter : filterByOptions : searchInput : filterByLocation : filterByDesignation; let i = index">
                    <td routerLink="/employee/{{user.userName}}">{{user.userName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.designation}}</td>
                    <td>{{user.location}}</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div id="edit-icon" class="me-4">
                                <fa-icon [icon]="icons.edit" class="fa-1x text-dark icons" (click)="openModal(user, i)">
                                </fa-icon>
                            </div>
                            <div id="delete-icon">
                                <fa-icon [icon]="icons.delete" class="fa-1x text-dark icons" (click)="deleteUser(i)"></fa-icon>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="bg-black p-3" *ngIf="this.userData.length === 0">
            <p class="text-light m-0 text-center">No Users</p>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':modalDisplay}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Data</h4>
                    <button type="button" class="close btn btn-outline-danger" aria-label="Close"
                        (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form id="user-data-form">
                        <div class="mb-3">
                            <label for="user-email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="user-email" name="email"
                                [(ngModel)]="modalData.email">
                        </div>
                        <div class="mb-3">
                            <label for="user-userName" class="form-label">Username</label>
                            <input type="text" class="form-control" id="user-userName" name="user-userName"
                                [(ngModel)]="modalData.userName">
                        </div>
                        <div class="mb-3">
                            <label for="user-designation" class="form-label">Designation</label>
                            <input type="text" class="form-control" id="user-designation" name="user-designation"
                                [(ngModel)]="modalData.designation">
                        </div>
                        <div class="mb-3">
                            <label for="user-location" class="form-label">Location</label>
                            <input type="text" class="form-control" id="user-location" name="user-location"
                                [(ngModel)]="modalData.location">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="onCloseHandled()">Update</button>
                </div>
            </div>

        </div>
