<div>
    <main class="main">
        <!-- <app-ng-class></app-ng-class> -->
        <!-- <app-register-validation></app-register-validation> -->
        <!-- <app-ng-class-images></app-ng-class-images> -->
        <!-- <app-ng-styles-input></app-ng-styles-input> -->
        <!-- <app-ng-styles-dropdown></app-ng-styles-dropdown> -->
        <!-- <app-login-register-switch></app-login-register-switch> -->
        <!-- <app-table></app-table> -->
        <!-- Custom Attribute Directive -->
        <!-- <div class="bg-black h-100 p-5">
            <h2 class="text-white">Custom Attribute Directive</h2>
            <p class="text-white">Increasing width and height on Key Press</p>
            <input appRainbowDirective [ngStyle]="{'width':'20rem', 'height':'5rem'}"/>
        </div> -->
        <!-- Custom Attribute Directive Rainbow-->
        <!-- <div class="bg-black h-100 p-5">
            <h2 class="text-white">Custom Attribute Directive</h2>
            <p class="text-white">Changes Color, Border and Border Radius on Key Press</p>
            <textarea appRainbowDirective cols="100" rows="10" [ngStyle]="{'text-align': 'center'}"></textarea>
        </div> -->
        <!-- <app-ng-switch></app-ng-switch> -->
        <!-- Custom Structural Directive -->
        <!-- <div class="bg-black h-100 p-5">
            <h2 class="text-white">Custom Structural Directive</h2>
            <p class="text-white">Will create five input fields by using looping in custom structural directive</p>
            <div class="mt-5 w-25">
                <div *appCustomStructuralDirective="5">
                    <input type="text" class="form-control m-4 ms-0 mt-0" name="password" id="login-pwd"
                        placeholder="Text Box" />
                </div>
            </div>
        </div> -->
        <!-- In built Pipes -->
        <div class=" h-100 p-3">
            <h2 class="text-center">In Built Pipes</h2>
            <div class="row" id="pipe-wrapper">
                <div class="col-md-3">
                    <div class="border border-dark p-3 pb-0">
                        <h4 class="pipe-header">Currency Pipe</h4>
                        <p><span>{{currencyData}} INR</span></p>
                    </div>
                    <div class="border border-dark p-3 pb-0">
                        <h4 class="pipe-header">Date Pipe</h4>
                        <p><span>{{regularDate}}</span></p>
                    </div>
                    <div class="border border-dark p-3 pb-0">
                        <h4 class="pipe-header">Short Date</h4>
                        <p><span>{{shortDate}}</span></p>
                    </div>
                    <div class="border border-dark p-3 pb-0">
                        <h4 class="pipe-header">Slice Pipe</h4>
                        <p><span>{{strSlice}}</span></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img id="pipe-image" src="../assets/images/ng-pipe.png"/>
                </div>
                <div class="col-md-3">
                    <div class="border border-dark p-3 pb-0">
                        <h4 class="pipe-header">Currency Pipe</h4>
                        <p><span>{{currencyData | currency : 'INR'}}</span></p>
                    </div>
                    <div class="border border-dark p-3 pb-0">
                        <h4 class="pipe-header">Date Pipe</h4>
                        <p><span>{{regularDate | date}}</span></p>
                    </div>
                    <div class="border border-dark p-3 pb-0">
                        <h4 class="pipe-header">Short Date</h4>
                        <p><span>{{regularDate | date : 'short'}}</span></p>
                    </div>
                    <div class="border border-dark p-3 pb-0">
                        <h4 class="pipe-header">Slice Pipe</h4>
                        <p><span>{{strSlice | slice : 2}}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<!-- <div>
    <div id="parent-div" class="w-50 p-4">
        <h2 class="text-light">Parent</h2>
        <form>
            <div class="mb-3">
                <label for="login-user-name" class="form-label text-light">Username</label>
                <input type="text" class="form-control" id="login-user-name" name="user-name"
                    [(ngModel)]="userName">
            </div>
        </form>
        <app-parent-child [userName]="userName"></app-parent-child>
    </div>
</div> -->