<div>
    <main>
        <!-- <app-ng-class></app-ng-class> -->
        <!-- <app-register-validation></app-register-validation> -->
    </main>
</div>

<div>
    <div id="parent-div" class="w-50 p-4">
        <h2 class="text-light">Parent</h2>
        <form>
            <div class="mb-3">
                <label for="login-user-name" class="form-label text-light">Username</label>
                <input type="text" class="form-control" id="login-user-name" name="user-name"
                    [(ngModel)]="userName">
            </div>
        </form>
        <app-parent-child [userName]="userName"></app-parent-child>
    </div>
</div>