.main {
    height: 100vh;
    background-image: linear-gradient(45deg, #2196f3, #9c27b0);
}

h1.timer {
    background: linear-gradient(to left, #eae0dd 0%, #fa78a4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
