<div class="table-container">
    <div id="table-wrapper">
        <button class="btn btn-warning w-auto mb-4" (click)="getProducts()">Load Data</button>
        <table id="product-table" class="table table-striped m-0">
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Cost</th>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{product.productId}}</td>
                    <td>{{product.productName}}</td>
                    <td>{{product.cost | currency : 'INR'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>