<div class="login-container d-flex position-relative">
    <div class="left--block">
        <img src="../../assets/images/login-bg.jpg" alt="Login-background" id="login-bg-img" />
    </div>
    <div class="right-block">
        <div *ngIf="!isLoggedIn" class="w-100 h-100">
            <div class="w-100">
                <p class="m-0 text-center p-3" id="form-header">Login to buy</p>
            </div>
            <!--Shows alert if invalid username or password is entered -->
            <div class="alert alert-danger d-flex align-items-center" role="alert" *ngIf="!isValid">
                <div>
                    Invalid Username or Password
                </div>
            </div>
            <form id="login-form">
                <div class="mb-3">
                    <label for="login-user-name" class="form-label">Username</label>
                    <input type="text" class="form-control" id="login-user-name" name="user-name"
                        [(ngModel)]="userName">
                </div>
                <div class="mb-3">
                    <label for="login-pwd" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="login-pwd" [(ngModel)]="password">
                </div>
                <button type="submit" class="btn btn-primary w-100 mt-4" (click)="doLogin()">Login</button>
            </form>
        </div>
        <div *ngIf="isLoggedIn" class="w-100 p-4">
            <h2>Welcome, {{userName}}</h2>
        </div>
    </div>
</div>