.login-container {
    position: relative;
    height: 100vh;
    width: 100%;
}

.left--block {
    width: 70vw;
}

#login-bg-img {
    width: 90%;
}

.right-block {
    width: 35vw;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5rem;
    top: 8rem;
    background: white;
    box-shadow: 0 0 0.3rem 0 #c5c2c2;
    border-radius: 0.5rem;
    min-height: 21rem;
}

#form-header {
    font-weight: bold;
    font-size: 1.3rem;
    color: #4c4c4c;
    border-bottom: 2px solid lightgray;
}

#login-form {
    width: 100%;
    padding: 1rem;
}

#login-form label {
    color: gray;
    font-weight: 500;
}