.switch-container {
    height: 100vh;
    background-image: linear-gradient(155deg, #673ab7 50%, #4863fb 50%);
    display: flex;
}

.form-wrapper {
    width: 90%;
    margin: auto;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem 0 #000000;
    height: 90%;
}

.form-wrapper-item {
    display: flex;
}

#login-form {
    background-image: linear-gradient(45deg, #021829, #3f51b5);
}

#register-form {
    background-image: linear-gradient(45deg, #181717, #443434);
}

.each-form {
    width: 100%;
    padding: 1rem;
}

.each-form label {
    color: white;
    font-weight: 500;
    text-transform: uppercase;
}

.left--block {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#login-form-wrapper .left--block {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../../assets/images/login-bg.jpg);
    background-size: cover;
    padding: 1rem;
    background-repeat: no-repeat;
}

#register-form-wrapper .left--block {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../../assets/images/register-bg.jpg);
    background-size: cover;
    padding: 1rem;
    background-repeat: no-repeat;
}

.left--block h3 {
    position: absolute;
    text-transform: uppercase;
    color: white;
}

.left--block h3:first-child {
    left: 4rem;
    bottom: 8rem;
    font-size: 3rem;
}

.left--block h3:last-child {
    left: 4rem;
    bottom: 4.5rem;
    font-size: 3rem;
}

.left--block h3 {
    margin-top: 1rem;
    text-transform: uppercase;
    background: linear-gradient(to left, #ff5722 0%, #330867 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

#register-form-wrapper .left--block h3 {
    background: linear-gradient(to left, #c8edff 0%, #beacd3 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#register-form-wrapper .left--block h3:first-child {
    top: 2rem;
}

#register-form-wrapper .left--block h3:last-child {
    top: 4.5rem;
}