<div class="switch-container">
    <div class="form-wrapper">
        <div *ngIf="form === 'login'; else registerForm" class="form-wrapper-item row h-100" id="login-form-wrapper">
            <div class="col-md-7 left--block">
                <!-- <img src="../../assets/images/login-bg.jpg" alt="Login" /> -->
                <h3>Looks like you already</h3>
                <h3>had a deal with us!</h3>
            </div>
            <div class="col-md-5 right--block">
                <div class="w-100 h-100">
                    <!--Shows alert if invalid username or password is entered -->
                    <div class="alert alert-danger d-flex align-items-center m-0" role="alert" *ngIf="!isLoginValid">
                        <div>
                            Invalid Username or Password
                        </div>
                    </div>
                    <form id="login-form" class="each-form h-100">
                        <div class="mb-3">
                            <label for="login-user-name" class="form-label">Username</label>
                            <input type="text" class="form-control" id="login-user-name" name="user-name"
                                [(ngModel)]="userName" (blur)="checkUserExistance()">
                        </div>
                        <div class="mb-3">
                            <label for="login-pwd" class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" id="login-pwd"
                                [(ngModel)]="password">
                        </div>
                        <button type="submit" class="btn btn-success w-100 mt-4 mb-5" (click)="doLogin()">Login</button>
                        <button type="button" class="btn btn-light" (click)="switchForm('register')">Not a user? Create
                            an
                            account</button>
                    </form>
                </div>
            </div>
        </div>
        <ng-template #registerForm>
            <div class="form-wrapper-item row h-100" id="register-form-wrapper">
                <div class="col-md-7 left--block">
                    <h3>Looks like</h3>
                    <h3>you are new</h3>
                </div>
                <div class="col-md-5 right--block p-0">
                    <div class="w-100 h-100">
                        <form id="register-form" class="each-form h-100">
                            <div class="mb-3">
                                <label for="register-user-name" class="form-label">Username</label>
                                <!-- On Blur check for the user name existance -->
                                <input type="text" class="form-control" id="register-user-name" name="user-name"
                                    [(ngModel)]="userName" (blur)="checkUserExistance()">
                                <div *ngIf="isUserExisted">
                                    <p class="text-danger m-0">Username exists, please enter different username.</p>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="register-email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="register-email" name="email"
                                    [(ngModel)]="email">
                            </div>
                            <div class="mb-3">
                                <label for="register-pwd" class="form-label">Password</label>
                                <input type="password" class="form-control" name="password" id="register-pwd"
                                    [(ngModel)]="password">
                            </div>
                            <div class="mb-3">
                                <label for="register-confirm-pwd" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" name="confirm-password"
                                    id="register-confirm-pwd" (blur)="checkPasswordAndConfirmPassword()"
                                    [(ngModel)]="confirmPassword">
                                <!-- On Blur check for the passwords are equal-->
                                <div *ngIf="!isPasswordsEqual">
                                    <p class="text-danger m-0">Password and Confirm Password does not match.</p>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary w-100 mt-4"
                                (click)="doRegister()">Register</button>
                            <button type="button" class="btn btn-light mt-4" (click)="switchForm('login')">Already an
                                user?
                                Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>